/** Header **/

Header .site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background-color: #b5b5b5;
    /**url(../img/original.jpg);*/
    background-position: center center;
    background-size: cover;
    height: 15vh;
    /* min-height: 10rem; */
}

.icon {
    height: 10vh;
    width: 10vh;
    position: relative;
    top: -30px;
    left: 20px;
}

.search {
    position: relative;
    top: -30px;
    right: 20px;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 2rem;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}


/** Navegacion **/

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    /** =18px */
    margin-right: 0rem;
}

.npos {
    position: relative;
    top: -30px;
    right: -239px;
}

.navegacion a :hover {
    color: #71b100
}

.navegacion a :last-of-type {
    margin: 0;
}


/** Anuncios **/

.contenedor-anuncios {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.anuncio {
    flex: 0 0 calc(24.9% - 1rem);
    border: 1px solid #b5b5b5;
    border-radius: 5px 5px 5px 5px;
    background: #3f3f3f;
    margin-bottom: 2rem;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}


/** Contacto Home **/

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 1;
    color: white;
}

.contenido-contacto p {
    font-size: 1.8rem;
}


/** Seccion Inferior **/

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 60%;
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.entrada-blog :last-of-type {
    margin-bottom: 0;
}

.entrada-blog .imagen {
    flex-basis: 40%;
}

.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}

.texto-entrada a {
    color: black;
    text-decoration: none;
}

.texto-entrada h4 {
    margin: 0;
    line-height: 1.4;
}

.texto-entrada h4::after {
    content: "";
    display: block;
    width: 15rem;
    height: .5rem;
    background-color: #71b100;
    margin-top: 1rem;
}

.texto-entrada span {
    color: #e08709;
}


/** Botones**/

.boton {
    color: white;
    font-weight: 30;
    text-decoration: none;
    font-size: 20px;
    padding: 10px 15px;
    margin-top: 1rem;
    display: inline-block;
    text-align: center;
    border: none;
}

.boton:hover {
    cursor: pointer;
}

.pboton {
    border-radius: 5px 0 0 5px;
}

.botonn {
    background: #222;
    background: -webkit-linear-gradient(#333, #222);
    background: -moz-linear-gradient(#333, #222);
    background: -o-linear-gradient(#333, #222);
    background: -ms-linear-gradient(#333, #222);
    background: linear-gradient(#333, #222);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    border: 0px solid #444;
    border-left-color: #000;
    color: #fff;
    display: block;
    float: left;
    text-align: center;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 80px;
}

.boton-amarillo {
    background-color: rgb(6, 121, 6);
    border-radius: 5px 5px 5px 5px;
}

.boton-verde {
    background-color: #71b100;
}

.bcenter {
    display: block;
    margin: auto;
}


/** img**/

.img {
    display: block;
    margin: auto;
    height: 385px;
    width: 300px;
}


/** Fondito**/

.fondo {
    background-color: rgb(48, 45, 45)
}


/** BUSCADOR CHINGON**/

.webdesigntuts-workshop input {
    background: #222;
    background: -webkit-linear-gradient(#333, #222);
    background: -moz-linear-gradient(#333, #222);
    background: -o-linear-gradient(#333, #222);
    background: -ms-linear-gradient(#333, #222);
    background: linear-gradient(#333, #222);
    border: 1px solid #444;
    color: #888;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    width: 200px;
}

.webdesigntuts-workshop button {
    background: #222;
    background: -webkit-linear-gradient(#333, #222);
    background: -moz-linear-gradient(#333, #222);
    background: -o-linear-gradient(#333, #222);
    background: -ms-linear-gradient(#333, #222);
    background: linear-gradient(#333, #222);
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #444;
    border-left-color: #000;
    border-radius: 0 5px 5px 0;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 38px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 80px;
}

.titulo {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-decoration: solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
